@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

html,
body {
  @apply bg-white dark:bg-white;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}
